.main-view {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.main-tab-panel {
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
}

.main-view-iframe {
    width: 100%;
    height: 100%;
    border: none;
}